<div class="row">
  <div class="col-md-8">
    <h3>Followers(<%= @user.follower_users.length %>)</h3>
    <% @user.follower_users.each do |user| %>
      <br>
        <%= user.name %>
        <%= link_to gravatar_for(user, size: 50), user %>
      </br>
      <br>

      </br>

    <% end %>

        
  </div>
</div>